include README.md
include LICENSE
include prompt_shield/data/*.yaml
include prompt_shield/*.yaml
recursive-include prompt_shield *.py
recursive-include prompt_shield *.yaml
exclude test.py
exclude tests/
global-exclude __pycache__
global-exclude *.py[co]